version: '3.8'
services:
  adminbot:
    build:
      context: ../
      dockerfile: Docker/Dockerfile
    environment:
      MONGODB_URI: mongodb://mongo:27017/adminbot
      BOT_TOKEN: ${BOT_TOKEN}
    depends_on:
      - mongo

  mongo:
    image: mongo
    volumes:
      - mongo_data:/data/db
    ports:
      - "27017:27017"

volumes:
  mongo_data:
